<!-- WRAPPER -->
		<div id="wrapper">
			<!-- HOME -->	
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix " >
				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container-fluid">
						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left" href="/">
							<%= image_tag("_rocketelevators/R2.png", alt: "", data: { bgposition: "center"}) %>
							<!--<img src="assets/images/_rocketelevators/R2.png" alt="" data-bgposition="CENTER " />-->
						</a>
						<!-- 
							Top Nav 
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">
								<ul id="topMain" class="nav nav-pills nav-main">
									<li class="active"><!-- HOME -->
										<a href="/">
											HOME
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					</div>
					
				</header>
				<!-- /Top Nav -->





<!-- cascading dropdown -->

<fieldset>
	
<%= form_for :interventions, url: {action: "new_interventions"}, html: {method: "post"} do |f| %> 


<br>    <strong>Clients<strong>
<div class="control-group text-red">
		<div class="controls">
       <%= collection_select(:customer, :customer_id, Customer.all, :id, :company, { :prompt => 'select' }, { :multiple => false, id: 'customer_select' } ) %>
</div>
</div>

<br>
<br>
   <strong>Buildings<strong>
<div class="control-group">
		<div class="controls">
      <%= collection_select(:building, :building_id, Building.all, :id, :customer_id, { :prompt => 'select' }, { :multiple => false, id: 'building_select' } ) %>
</div>
</div>



<br>
   <strong>Batteries<strong>
<div class="control-group">
		<div class="controls">
      <%= collection_select(:battery, :battery_id, Battery.all, :id, :building_id, { :prompt => 'select' }, { :multiple => false, id: 'battery_select' } ) %>
</div>
</div>


<br>
<br>
   <strong>Columns<strong>
<div class="control-group">
	<div class="controls">     
	 <%= collection_select(:column, :column_id, Column.all, :id, :battery_id, { :prompt => 'NONE' }, { :multiple => false, id: 'column_select' } ) %>
</div>
</div>


<br>
<br>
   <strong>Elevators<strong>
<div class="control-group">
	<div class="controls">    
<%= collection_select(:elevator, :elevator_id, Elevator.all, :id, :column_id, { :prompt => 'NONE' }, { :multiple => false, id: 'elevator_select' } ) %>
</div>
</div>

<br>
<br>
   <strong>Employees<strong>
<div class="control-group">
	<div class="controls">    
<%= collection_select(:employee, :employee_id, Employee.all, :id, :name, {:prompt => 'NONE' }, { :multiple => false, id: 'employee_select' } ) %>
</div>
</div>


<br>
<br>
<br>

<div class="col-md-8">
   <label for="contact:message">Project Description *</label>
   <textarea required maxlength="5000" rows="4" class="form-control" name="lead[project_description]" id="lead:message"></textarea>
</div>
</div>


                
<div class="text-center mb-10">
	<%= f.submit "Submit" %>
</div>

<% end %>

</fieldset>

<!-- cascading dropdown -->